.page-title{
    color:var(--page-titles);
    font-family:'Open Sans';
    font-size:26px;
    font-weight:lighter;
    letter-spacing:-1px;
    line-height:26px;
    margin:0px 0px 20px;
}
a{
    color:var(--page-bar-letters);
    display:inline;
    font-family:'Open Sans';
    font-size:13px;
    line-height:18.5714px;
    text-align:left;
}
.page-bar{
    padding-left: 20px;
    color: var(--page-bar);
}
.page-bar ion-icon{

    font-size:16px;
    vertical-align: middle;
    margin-left: 5px;
    margin-right: 5px;
    color:var(--page-bar-letters);
}
section .button{
    background-color: var(--button-color);
    border-radius: 5px;
}
.button-cancel{
    background-color: var(--font-color);
    border-radius: 5px;
}
.section-buttons{
    padding: 20px;
}
.name{
    font-size:14px;
    line-height:20px;
    margin:10px;
}
.title-section{
    display:inline;
    font-weight:700;
    line-height:18px;
    text-transform:uppercase;
    margin-left: 10px;
}
.ion-form{
    width: 90%;
    margin: 20px;
    text-align: center;
}
.input-group{
    display: flex;
}
ion-label ion-icon{
   
    margin-right: 5px;
}
ion-item ion-label{
    font-size: 18px;
    font-weight: 500;
}